<<form [formGroup]="form" (ngSubmit)="formSubmit(form)">
    <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>


<!-- Name -->
<mat-form-field class="full-width">
    <mat-label>Nombre de usuario</mat-label>
    <input matInput type="text" placeholder="Escribe tu nombre de usuario" formControlName="username">
    <mat-error *ngIf="form.controls['username'].errors?.['required']">Este campo es requerido</mat-error>

</mat-form-field>


<!-- Password -->
<mat-form-field class="full-width">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" placeholder="Escribe tu nombre de contraseña" formControlName="password">
    <mat-hint>8 a 32 characteres, al menos un numero, una minuscula, una mayuscula y un caracter especial</mat-hint>
    <mat-error *ngIf="form.controls['password'].errors?.['required']">Este campo es requerido</mat-error>
</mat-form-field>


<mat-error *ngIf="this.error !== ''">{{this.error}}</mat-error>


        </mat-card-content>
      <mat-card-actions align="end">
          <button mat-button type="reset" (click)="(formCancel())">Cancelar</button>
          <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Ingresar</button>
        </mat-card-actions>
      </mat-card>
    
</form>