:host{
    color:rgb(250, 250, 250);
}



#bg-image{
    display: block;
    position:fixed;
    width: 100%;
    height: 100%;
    background-image: url(../assets/terrazaweb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(50, 50, 50);
    background-blend-mode: multiply;
    z-index: -1;
}


.spacer{
    flex:1 1 auto;
}
